@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
.header {
    height: 60px;
    width: 100%;
    color: brown;
    .index {
        height: 100%;
        display: inline-block;
        border-bottom: solid 5px brown;
        div {
            position: relative;
            font-size: 18px;
            top: 25%;
        }
    }
    .search-box {
        height: 100%;
        float: right;
        div {
            display: inline-block;
            position: absolute;
            right: 20px;
            width: 30%;
            top: 25%;
            i {
                position: absolute;
                left: 3%;
                top: 25%;
            }
            input {
                padding-left: 10%;
                width: 100%;
            }
        }
    }
}

.left-menu {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

.content {
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    min-height: 100%;
    right: 0px;
    background: transparent;
}

.content-container {
    padding: 30px 10px 0px 10px;
    ul {
        width: 100%;
        list-style: none;
        display: block;
        li {
            width: 20%;
            padding-right: 10px;
            margin-bottom: 50px;
            display: inline-block;
        }
    }
}

.card-view {
    cursor: pointer;
    .card-item {
        height: 125px;
        position: relative;
        .card-action-panel {
            width: 100%;
            height: 15%;
            left: 0px;
            bottom: 0%;
            position: absolute;
            padding: 0px 20px;
            .col-sm-4 {
                text-align: center;
                font-size: 10pt;
            }
            .heart {
                color: red;
            }
            .like {
                color: blue;
            }
            .view {
                color: black;
            }
        }
    }
}

#accordion {
    margin-top: 0px;
    text-align: left;
    .btn-link {
        color: brown;
    }
}